html * {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  justify-content: space-evenly;
}

.header {
  display: flex;
  height: 80px;
  flex: 1 1 auto;
  justify-content: space-between;
  align-items: center;
}

.first-container {
  display: flex;
  justify-content: center;
  gap: 24px;
  padding: 80px 0;
}

.second-container {
  display: flex;
  justify-content: space-evenly;
}

.third-container {
  display: flex;
  flex-direction: column;
  padding: 0 20%;
}

.third-container > div {

}

.toptext {
  width: 500px;
  height: auto;
}

.header, .first-container, .footer {
  background-color: #1f2937;
}

.toptext > p, .footer > p, li {
  font-size: 18px;
  color: #e5e7eb;
}

.third-container {
  background-color: #e5e7eb;
}

.quote {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1f2937
}

button, .bluebox {
  background-color: #3882f6;
}

.logo > img {
  max-width: 100px;
  height: auto;
}

.block > img {
  max-width: 200px;
  max-height: 200px;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  color: #f9faf8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 18px;
}